/* You can add custom styles here. */

// @import "plugins/numbered";
@import "plugins/scrollbars";

:focus {
  outline: none;
}

.markdown pre {
  background: var(--code-block-background) !important;
  border-radius: 0;
}

.video-wrapper {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  overflow: hidden;

  & > iframe,
  & > video {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border: 0;
  }
}

::-webkit-scrollbar {
  height: 0.3em;
  width: 0.3em;
}

.medium-zoom-overlay {
  background-color: rgba(0,0,0,0.8) !important;
}